<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  verbose="1" name="E-commerce portal automation" parallel="tests" thread-count="2" >
  <listeners>
      <listener class-name="org.example.util.listener.TestListener"/>
   <!--<listener class-name="org.example.util.listener.AnnotationTransformer"/>-->
  </listeners>
  <test name="invalid email login" >
        <classes>
            <class name="org.example.test.LoginTest"/>
        </classes>
    </test>

    <test name="valid email login">
        <classes>
            <class name="org.example.test.LoginTest1"/>
        </classes>
    </test>
</suite>